.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 10px
}

.action {
  font-size: 0.9em;
}

.cancel {
  display: inline-block;
  padding-left: 5px;
}

.button,
.cancel {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.incomplete {
  text-decoration: none;
}