body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.screen {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

.paper {
  box-shadow: 0px 0px 5px;
  padding: 20px;
  margin: 20px 0;
}

.header {
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.textfield {
  width: 100%;
  border-bottom: 1px solid black;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color: #f5f5f5;
  font-size: 1.2em;
  outline: none;
}

.button {
  font-size: 0.875em;
  margin-top: 10px;
  padding: 5px;
}